*{
	margin: 0;
	padding: 0;
}
body{
	background: white url('../resources/images/bgimg.png') repeat;
	border-left: .625em solid transparent;
}
ul li{
		list-style-type: none;
		display: inline-block;
}
header{
	height: 85px;
}
figure{
	width: 80%;
}
figure a img{
	width: 100%;
}
h3{
		font-weight: normal;
		opacity: .45;
}

