#header-navlittle{
	background: url('../resources/images/navilittlebook.png') no-repeat right top;
}
.social-icons{
	width: 15px;
	height: 15px;
	margin-top: 60px;
	margin-left: 5px;
}
.main{
	width: 100%;
	height: auto;
	color: black;
}
.inline-display{
	display: inline-block;
}
.margin-left{
	margin-left: 35px;
}
.margin-top{
	margin-top: 10px;
}
.sidebar-ads{
	width: 100%;
	height: 20px; 
	margin-top:30px;
}
.sidebar-common-ads{
	float: left;
}
.sidebar-withus-ads{
	float: right;
	margin-right: 25px;
}



@media screen and (max-width: 1100px){
	.main-sidebar{
		visibility: hidden;
	}
}
@media screen and (min-width: 1020px){
	.main-sidebar h3{
		font-weight: normal;
	}
}

@media screen and (min-width: 1200px){
	.sidebar{
		width: 20%;
		height: auto;
		float: left;
	}
	.sidebar ul li{
		display: block;
	}
	.sidebar ul li p{
		font-weight: bold; 
		margin-top: 25px;
	}
	.sidebar-sublinks{
		display: block;
		font-size: 17px;
		color: rgba(0, 0, 0, 0.3);;
    }
    .search-bar{
    	display: none;
    }
    
}



@media screen and (min-width: 400px) and (max-width: 500px){
	.header-ul {
		width: 250px;
	}
	.logo-size{
	   width: 150px;
	   height: auto;
    } 
    .header-links{
    	visibility: hidden;
    }
     .social-logos{
     	visibility: hidden;
     }
}
@media screen and (min-width: 500px) and (max-width: 800px){
	.header-ul {
		width: 300px;
	}
	.logo-size{
	   width: 250px;
	   height: auto;
    } 
    .header-links{
    	visibility: hidden;
    }
     .social-logos{
     	visibility: hidden;
     }
}

@media screen and (min-width: 800px){
	.header-ul{
		width: 60%;
		float: left;
	}
	.logo-size{
	   width: 150px;
	   height: 55px;
    }
     .social-logos{
	width: 40%;
	opacity: .45;
	float: right;
}
@media screen and (min-width: 800px) and (max-width: 810px){
	 .header-links{
	width: 45px;
	padding-top:55px;
	text-align: center;
    }
}

@media screen and (min-width: 810px) and (max-width: 890px){
	 .header-links{
	width: 55px;
	padding-top:55px;
	text-align: center;
}
}
@media screen and (min-width: 890px){
	 .header-links{
	width: 65px;
	padding-top:67px;
	text-align: center;
}
}

