/* line 4, ../resources/scss/styles.scss */
button {
  color: white;
}

/* line 8, ../resources/scss/styles.scss */
.social-icons {
  width: 20px;
  height: 20px;
  margin-top: 60px;
  margin-left: 5px;
  border-radius: 10px;
  opacity: .45;
}
/* line 16, ../resources/scss/styles.scss */
.social-icons:hover {
  opacity: 1.0;
  cursor: pointer;
}

/* line 22, ../resources/scss/styles.scss */
.read-more {
  width: 20%;
  height: 40px;
  background-color: #41b7d8;
  color: white;
  border-radius: 15px;
  font-size: 18px;
  margin-top: 25px;
  border: none;
}

/* line 33, ../resources/scss/styles.scss */
.footerbutton, .footer .current-page, .footer .next-page, .footer div .next {
  width: 50px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  height: 30px;
}

/* line 41, ../resources/scss/styles.scss */
.footer {
  text-align: center;
  width: 75%;
  height: auto;
  float: right;
  width: 100%;
  padding: 20px 0;
}
/* line 49, ../resources/scss/styles.scss */
.footer .current-page {
  background-color: #41b7d8;
  color: white;
}
/* line 55, ../resources/scss/styles.scss */
.footer .next-page {
  background-color: white;
  color: #41b7d8;
}
/* line 60, ../resources/scss/styles.scss */
.footer .next-page:hover {
  background-color: #41b7d8;
  color: white;
  cursor: pointer;
}
/* line 67, ../resources/scss/styles.scss */
.footer div .next {
  background-color: #e85c33;
  color: white;
}
/* line 72, ../resources/scss/styles.scss */
.footer div .next:hover {
  background-color: black;
  cursor: pointer;
}

/* line 81, ../resources/scss/styles.scss */
div .main-header {
  height: 85px;
  list-style-type: none;
  float: left;
}
/* line 85, ../resources/scss/styles.scss */
div .main-header .header-links {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  border-right: 0.08em solid rgba(0, 0, 0, 0.05);
}
/* line 90, ../resources/scss/styles.scss */
div .main-header .header-links:hover {
  background-color: yellow;
}
/* line 93, ../resources/scss/styles.scss */
div .main-header .header-links a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  /* line 103, ../resources/scss/styles.scss */
  .shortcuts {
    float: right;
    width: 20%;
    height: 40%;
    padding-top: 1.5em;
  }
  /* line 108, ../resources/scss/styles.scss */
  .shortcuts .shortbuttons {
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
  /* line 112, ../resources/scss/styles.scss */
  .shortcuts .shortbuttons img {
    width: 40px;
    height: 40px;
  }
  /* line 116, ../resources/scss/styles.scss */
  .shortcuts .shortbuttons img:hover {
    background-color: none;
    border: 1px solid black;
    border-radius: 5px;
  }
  /* line 121, ../resources/scss/styles.scss */
  .shortcuts .shortbuttons img .menu {
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
  }
}
/* line 134, ../resources/scss/styles.scss */
.inline-display {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 138, ../resources/scss/styles.scss */
.main {
  width: 100%;
  height: auto;
  color: black;
  overflow: hidden;
}

/* line 146, ../resources/scss/styles.scss */
.sidebar-sublinks ul {
  margin-top: 20px;
}
/* line 148, ../resources/scss/styles.scss */
.sidebar-sublinks ul li {
  margin-top: 10px;
  cursor: pointer;
  height: 25px;
  width: 90%;
}
/* line 153, ../resources/scss/styles.scss */
.sidebar-sublinks ul li:hover {
  background-color: #FFFF99;
}

/* line 160, ../resources/scss/styles.scss */
.main-content {
  height: auto;
  padding: 40px 20px;
  border-radius: 0 20px 0 0;
}
@media screen and (max-width: 1020px) {
  /* line 160, ../resources/scss/styles.scss */
  .main-content {
    width: 95%;
    background-color: white;
    overflow: hidden;
  }
}
@media screen and (min-width: 1020px) {
  /* line 160, ../resources/scss/styles.scss */
  .main-content {
    background-color: white;
    width: 58%;
    float: left;
  }
}

@media screen and (max-width: 1100px) and (min-width: 800px) {
  /* line 185, ../resources/scss/styles.scss */
  .search-bar {
    width: 100%;
    height: 35px;
    padding: 1em 2.5%;
  }
}
@media screen and (min-width: 800px) {
  /* line 193, ../resources/scss/styles.scss */
  .position-logo {
    padding: 15px;
    background-color: white;
    float: left;
  }
}
/* line 199, ../resources/scss/styles.scss */
.social-logos {
  width: 40%;
}
/* line 202, ../resources/scss/styles.scss */
.social-logos li a {
  background-image: url("../resources/images/channels.svg");
  background-size: 353% 600%;
}
@media screen and (max-width: 1150px) {
  /* line 199, ../resources/scss/styles.scss */
  .social-logos {
    width: 35%;
  }
  /* line 209, ../resources/scss/styles.scss */
  .social-logos .main-header {
    width: 60%;
  }
}

@media screen and (max-width: 1020px) {
  /* line 216, ../resources/scss/styles.scss */
  .main-sidebar {
    width: 100%;
    text-align: center;
    float: right;
    background-color: white;
    border-top: 0.6em solid #41b7d8;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1200px) {
  /* line 226, ../resources/scss/styles.scss */
  .sidebar ul {
    display: table;
  }
  /* line 228, ../resources/scss/styles.scss */
  .sidebar ul li {
    margin-left: 50px;
  }
  /* line 230, ../resources/scss/styles.scss */
  .sidebar ul li p {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 0.3em solid #B80000;
  }

  /* line 237, ../resources/scss/styles.scss */
  .main-content-links {
    border-bottom: 0.3em solid #FF6699;
  }

  /* line 240, ../resources/scss/styles.scss */
  .ads-images {
    width: 150px;
    height: auto;
  }

  /* line 244, ../resources/scss/styles.scss */
  .sidebar-sublinks, .search-bar {
    display: none;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1200px) {
  /* line 251, ../resources/scss/styles.scss */
  .main-sidebar {
    width: 34%;
    height: auto;
    float: right;
  }
}
@media screen and (max-width: 800px) {
  /* line 259, ../resources/scss/styles.scss */
  #searchbutton {
    display: none;
  }

  /* line 263, ../resources/scss/styles.scss */
  .search-bar input {
    display: none;
  }
}
@media screen and (max-width: 1100px) and (min-width: 800px) {
  /* line 271, ../resources/scss/styles.scss */
  #searchbutton {
    width: 17%;
    height: 49px;
    background-color: #e85c33;
    border-radius: 0 10px 10px 0;
    margin-left: -25px;
  }

  /* line 279, ../resources/scss/styles.scss */
  .search-bar input {
    width: 75%;
    height: 25px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
  }
}
/* line 288, ../resources/scss/styles.scss */
.search-bar2 input {
  width: 75%;
  height: 20px;
  padding: 8px;
  border-radius: 10px 0 0 10px;
}
@media screen and (max-width: 1020px) {
  /* line 288, ../resources/scss/styles.scss */
  .search-bar2 input {
    visibility: hidden;
  }
}

/* line 299, ../resources/scss/styles.scss */
#searchbutton2 {
  width: 17%;
  height: 40px;
  background-color: #e85c33;
  border-radius: 0 10px 10px 0;
  margin-left: -25px;
}
@media screen and (max-width: 1020px) {
  /* line 299, ../resources/scss/styles.scss */
  #searchbutton2 {
    visibility: hidden;
  }
}

/* line 312, ../resources/scss/styles.scss */
.ads ul {
  display: block;
}

/* line 317, ../resources/scss/styles.scss */
.article1 {
  float: right;
  margin-top: 25px;
  width: 100%;
  font-weight: bold;
  font-size: 23px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px 0;
  border-bottom: 3px solid #33CCFF;
}
@media screen and (min-width: 800px) and (max-width: 1020px) {
  /* line 317, ../resources/scss/styles.scss */
  .article1 {
    width: 80%;
  }
}
@media screen and (min-width: 1020px) and (max-width: 1200px) {
  /* line 317, ../resources/scss/styles.scss */
  .article1 {
    width: 100%;
  }
}
/* line 334, ../resources/scss/styles.scss */
.article1 a {
  text-decoration: none;
  color: #333;
}
/* line 339, ../resources/scss/styles.scss */
.article1 ul li {
  display: block;
  font-size: 20px;
}
/* line 342, ../resources/scss/styles.scss */
.article1 ul li small {
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
/* line 345, ../resources/scss/styles.scss */
.article1 ul li small a {
  color: #41b7d8;
  line-height: 3;
  margin-left: 5px;
}
/* line 353, ../resources/scss/styles.scss */
.article1 p {
  font-weight: normal;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  /* line 317, ../resources/scss/styles.scss */
  .article1 {
    width: 80%;
  }
}

/* line 363, ../resources/scss/styles.scss */
.ads-text {
  color: #41b7d8;
  font-size: 11px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

/* line 369, ../resources/scss/styles.scss */
.sidebar-common-ads, .sidebar-withus-ads {
  float: left;
  font-size: 15px;
  opacity: .45;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 375, ../resources/scss/styles.scss */
.sidebar-withus-ads {
  float: right;
  margin-right: 25px;
  opacity: 1;
  color: #41b7d8;
}

/* line 382, ../resources/scss/styles.scss */
#header-navlittle {
  background: url("../resources/images/navilittlebook.png") no-repeat right top;
}

/* line 385, ../resources/scss/styles.scss */
#header-navlittle:hover {
  background-color: yellow;
}

@media screen and (max-width: 1150px) {
  /* line 388, ../resources/scss/styles.scss */
  .search-text {
    display: none;
  }
}
@media screen and (min-width: 1150px) {
  /* line 388, ../resources/scss/styles.scss */
  .search-text {
    margin-left: 35px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1020px) {
  /* line 398, ../resources/scss/styles.scss */
  .sidebar {
    width: 15%;
    height: auto;
    float: left;
    border-left-width: .625em;
    border-left-style: solid;
    border-left-color: #F0F8FF;
  }
  /* line 407, ../resources/scss/styles.scss */
  .sidebar ul li {
    display: block;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
  }
  /* line 411, ../resources/scss/styles.scss */
  .sidebar ul li p {
    font-weight: bold;
    margin-top: 25px;
    height: 25px;
    color: black;
  }
  /* line 417, ../resources/scss/styles.scss */
  .sidebar ul li p:hover {
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.3);
    background-color: #FFFF99;
    cursor: default;
  }
}
@media screen and (min-width: 800px) and (max-width: 1020px) and (min-width: 1020px) and (max-width: 1200px) {
  /* line 411, ../resources/scss/styles.scss */
  .sidebar ul li p {
    visibility: hidden;
  }
}

@media screen and (max-width: 800px) {
  /* line 433, ../resources/scss/styles.scss */
  .sidebar {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  /* line 439, ../resources/scss/styles.scss */
  .sidebar {
    width: 20%;
    height: auto;
    float: left;
  }
  /* line 444, ../resources/scss/styles.scss */
  .sidebar ul li {
    display: block;
    border-left-width: .625em;
    border-left-style: solid;
    border-left-color: bisque;
  }
  /* line 449, ../resources/scss/styles.scss */
  .sidebar ul li p {
    font-weight: bold;
    margin-top: 25px;
  }

  /* line 456, ../resources/scss/styles.scss */
  .sidebar-sublinks {
    display: block;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.3);
  }

  /* line 461, ../resources/scss/styles.scss */
  .search-bar {
    display: none;
  }

  /* line 464, ../resources/scss/styles.scss */
  .main-sidebar {
    width: 35%;
    height: auto;
    float: right;
    padding: 13px;
  }

  /* line 470, ../resources/scss/styles.scss */
  .ads-images {
    width: auto;
    height: auto;
  }
}
/* line 476, ../resources/scss/styles.scss */
.newsletter {
  border: 1px solid grey;
  height: 170px;
  border-radius: 15px;
  margin: 35px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.55);
  padding: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}
@media screen and (max-width: 1020px) {
  /* line 476, ../resources/scss/styles.scss */
  .newsletter {
    width: 50%;
    margin-left: 200px;
  }
}
@media screen and (min-width: 1020px) {
  /* line 476, ../resources/scss/styles.scss */
  .newsletter {
    width: 90%;
    margin: 1.5em 0 1.5em -1.25em;
  }
}
/* line 496, ../resources/scss/styles.scss */
.newsletter header {
  color: #33CCFF;
  font-weight: bold;
  font-size: 20px;
  height: 55px;
}
/* line 502, ../resources/scss/styles.scss */
.newsletter p {
  line-height: 1.5;
}
/* line 505, ../resources/scss/styles.scss */
.newsletter .ebook-images {
  float: left;
  width: 25%;
  height: 150px;
}

@media screen and (max-width: 800px) {
  /* line 512, ../resources/scss/styles.scss */
  #menu-contents {
    width: 90%;
    height: 450px;
    line-height: 3;
    font-size: 18px;
    display: table;
    border-collapse: collapse;
    margin-left: 80px;
  }
  /* line 528, ../resources/scss/styles.scss */
  #menu-contents ul .menu-scroll-link {
    width: 100%;
    color: #41b7d8;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  }
  /* line 533, ../resources/scss/styles.scss */
  #menu-contents ul .menu-scroll-link:hover {
    background-color: yellow;
    cursor: pointer;
  }
  /* line 538, ../resources/scss/styles.scss */
  #menu-contents ul .menu-scroll-heading {
    font-weight: bold;
    color: black;
  }
  /* line 542, ../resources/scss/styles.scss */
  #menu-contents ul .menu-scroll-heading:hover {
    background-color: none;
  }
}
@media screen and (min-width: 800px) {
  /* line 512, ../resources/scss/styles.scss */
  #menu-contents {
    display: none;
  }
}

/* line 552, ../resources/scss/styles.scss */
#search-contents {
  text-align: center;
}
@media screen and (max-width: 800px) {
  /* line 556, ../resources/scss/styles.scss */
  #search-contents input {
    width: 75%;
    height: 35px;
    border-radius: 10px 0 0 10px;
    margin-top: 35px;
  }
  /* line 562, ../resources/scss/styles.scss */
  #search-contents button {
    width: 17%;
    height: 40px;
    background-color: #e85c33;
    border-radius: 0 10px 10px 0;
    margin-left: -25px;
  }
}
@media screen and (min-width: 800px) {
  /* line 552, ../resources/scss/styles.scss */
  #search-contents {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  /* line 574, ../resources/scss/styles.scss */
  .scrollup {
    margin-top: 25px;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
  }
}
