$color-white: white;
$color-black: black;
$color-yellow: yellow;
$color-orange: #e85c33;
$color-heading: #333;
$color-grey: rgba(0, 0, 0, 0.3);
$color-blue: #41b7d8;
$color-rose: #FF6699;
$color-darkblue: #3300CC;
$color-red: #B80000 ;
$color-hover: #FFFF99;
$color-bisque: bisque;
$color-aliceblue: #F0F8FF;
$color-lightblue: #33CCFF;

$fontfamily: Georgia,"Times New Roman",Times,serif;
$font-family-hel: "Helvetica Neue",Arial,sans-serif;