$color-white: white;
$color-yellow: yellow;
$color-orange: #e85c33;
$color-heading: #333;
$color-grey: rgba(0, 0, 0, 0.3);
$color-blue: #41b7d8;
$color-rose: #FF6699;
$color-darkblue: #3300CC;
$color-red: #B80000 ;