@import "compass";
@import '_variables.scss';

button{
	color: $color-white;
}

.social-icons{
  width: 20px;
  height: 20px;
  margin-top: 60px;
  margin-left: 5px;
  border-radius: 10px;
  opacity: .45;

  &:hover{
  	opacity: 1.0;
  	cursor: pointer;
  }
}

.read-more{
	width: 20%;
	height: 40px;
	background-color: $color-blue;
	color: $color-white;
	border-radius: 15px;
	font-size: 18px;
	margin-top: 25px;
	border: none;
}

.footerbutton{
	width: 50px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    height: 30px;
}

.footer{
	text-align: center;
	width: 75%;
	height: auto;
	float: right;
	width: 100%;
	padding: 20px 0;

	.current-page{
		background-color: $color-blue;
		color: $color-white;
		@extend .footerbutton;
	}
			
	.next-page{
		background-color: $color-white;
		color: $color-blue;
		@extend .footerbutton;

	   &:hover{
	   		background-color: $color-blue;
			color: $color-white;
			cursor: pointer;
	   }
	}
	div{
		.next{
			@extend .footerbutton;
			background-color: $color-orange;
			color: $color-white;

			&:hover{
				background-color: $color-black;
				cursor:pointer;
			}
		}
	}
}

div{
	.main-header{
		height: 85px;
		list-style-type: none;
		float: left;
		.header-links{
			// display: inline-block;
			@include inline-block;
			cursor: pointer;
			border-right: .08em solid rgba(0,0,0,.05);
			&:hover{
					background-color: $color-yellow;
				}
			a{
				color: rgba(0,0,0,.3);
				text-decoration: none;
			}	
		}
   }
}


@media screen and (max-width: 800px){
	.shortcuts{
		float: right;
		width: 20%;
		height: 40%;
		padding-top: 1.5em;
		.shortbuttons{			
			margin-left: 5px;
			width: 40px;
			height: 40px;
				img{
				width: 40px;
				height: 40px;

				&:hover{
				background-color: none;
				border: 1px solid $color-black;
				border-radius: 5px;
			}
			.menu{
				border: 1px solid red;
				border-radius: 5px;
				cursor: pointer;
			}	
			}
			
		}
	}

}


.inline-display{
	@include inline-block;
}

.main{
	width: 100%;
	height: auto;
	color: $color-black;
	overflow: hidden;
}

.sidebar-sublinks{
	ul{
		margin-top: 20px;
		li{
			margin-top: 10px;
			cursor: pointer;
			height: 25px;
			width: 90%;
			&:hover{
				background-color: $color-hover;
			}
		}
	}
}

.main-content{
	height: auto;
	padding: 40px 20px;
	border-radius: 0 20px 0 0;

	@media screen and (max-width: 1020px){
	width: 95%;
	background-color: white;
	overflow: hidden;
	}

	@media screen and (min-width: 1020px){
	background-color: white;
	width: 58%;
	float:left;
	}
}

@media screen and (max-width: 1100px) and (min-width: 800px){
	// .sidebar-sublinks{
	// 	display: none;
 //    }
 //    .sidebar{
 //    	display: none;
 //    }
    .search-bar{
    	width: 100%;
        height: 35px;
        padding: 1em 2.5%;
    }
}

@media screen and (min-width: 800px){  
     .position-logo{
	   padding: 15px;
	   background-color: $color-white;
	   float: left;
    }
}
.social-logos{
	width: 40%;
	li{
		a{
			background-image: url("../resources/images/channels.svg");
			background-size: 353% 600%;
		}
	}
	@media screen and (max-width: 1150px){
		width: 35%;
		.main-header{
			width: 60%;
		}
	}
}

@media screen and (max-width: 1020px){
	.main-sidebar{
		  width: 100%;
  		  text-align: center;
  		  float: right;
		  background-color: $color-white;
		  border-top: 0.6em solid $color-blue;
	}
}

@media screen and (min-width: 1020px) and (max-width: 1200px){
	.sidebar ul{
		display: table;		
		 li{
			margin-left: 50px;
			p{
				font-weight: bold;
				font-size: 13px;
				border-bottom: .3em solid $color-red;
			}
		}
	}
	.main-content-links{
	border-bottom: .3em solid $color-rose;
	}
	.ads-images{
	width: 150px;
	height: auto;
	}
	.sidebar-sublinks,.search-bar{
		display: none;
    }

}

@media screen and (min-width: 1020px) and (max-width: 1200px){
	.main-sidebar{
	width: 34%;
	height: auto;
	float:right;
	}
}

@media screen and (max-width: 800px){
	#searchbutton{
    	display: none;
    }
	.search-bar{
	input{
		display: none;
	}
}
}


@media screen and (max-width: 1100px) and (min-width: 800px){
#searchbutton{
    	width: 17%;
        height: 49px;
  		background-color: $color-orange;
	    border-radius: 0 10px 10px 0;
	    margin-left: -25px;
    }
.search-bar{
	input{
		width: 75%;
		height: 25px;
		padding: 10px;
		border-radius: 10px 0 0 10px;
	}
}
}
.search-bar2{
	input{
		width: 75%;
		height: 20px;
		padding: 8px;
		border-radius: 10px 0 0 10px;

		@media screen and (max-width: 1020px){
			visibility: hidden;
		}
	}
}
#searchbutton2{
    	width: 17%;
        height: 40px;
  		background-color: $color-orange;
	    border-radius: 0 10px 10px 0;
	    margin-left: -25px;

	    @media screen and (max-width: 1020px){
			visibility: hidden;
		}
    }

.ads{
	ul{
		display: block;
	}
}

.article1{
	float:right; 
	margin-top: 25px;
	width: 100%;
	font-weight: bold; 
	font-size: 23px;
	font-family: $fontfamily;
	padding: 20px 0;
	border-bottom: 3px solid $color-lightblue;

	@media screen and (min-width: 800px) and (max-width: 1020px){
		width: 80%;
	}
	@media screen and (min-width: 1020px) and (max-width: 1200px){
		width: 100%;
	}

	a{
		text-decoration: none;
		color: $color-heading;
	}
	ul{		
		li{
			display: block;
			font-size: 20px;
			small{
				color: $color-grey;				
				font-weight: normal;
				a{
					color: $color-blue;
					line-height: 3;
					margin-left: 5px;
				}
			}
		}
	}
	p{
		font-weight: normal;
	    font-size: 20px;
	    text-align: justify;
	    line-height: 1.5;
	}
	@media screen and (min-width: 1200px){
		width: 80%;
	}
}
.ads-text{
	color: $color-blue;
	font-size: 11px;
	font-family: $font-family-hel;
	text-align: center;
}
.sidebar-common-ads{
	float: left;
	font-size: 15px;
	opacity: .45;
	font-family: $font-family-hel;
}
.sidebar-withus-ads{
	@extend .sidebar-common-ads;
	float: right;
	margin-right: 25px;
	opacity: 1;
	color: $color-blue;
}
#header-navlittle{
	background: url('../resources/images/navilittlebook.png') no-repeat right top;
}
#header-navlittle:hover{
	background-color: yellow;
}
.search-text{
	@media screen and (max-width: 1150px){
		display: none;
	}
	@media screen and (min-width: 1150px){
		margin-left: 35px;
	}
}

@media screen and (min-width:800px) and (max-width: 1020px){
	.sidebar{
		width: 15%;
		height: auto;
		float: left;
		border-left-width: .625em;
	    border-left-style: solid;
	    border-left-color: $color-aliceblue;

		ul{
			li{
				display: block;
				font-size: 17px;
  				color: $color-grey;
		        p{
		        	font-weight: bold; 
					margin-top: 25px;
					height: 25px;
					color: $color-black;

					&:hover{
						border-bottom: 0.1em solid $color-grey;
						background-color: $color-hover;
						cursor: default;
					}

					@media screen and (min-width:1020px) and (max-width: 1200px){
						visibility: hidden;
					}
		        }
			}
		}
	}
}

@media screen and (max-width:800px){
	.sidebar{
				display: none;
			}
		}

@media screen and (min-width: 1200px){
	.sidebar{
		width: 20%;
		height: auto;
		float: left;
		ul{
			li{
				display: block;
				border-left-width: .625em;
		        border-left-style: solid;
		        border-left-color: $color-bisque;
		        p{
		        	font-weight: bold; 
					margin-top: 25px;
		        }
			}
		}
	}
	.sidebar-sublinks{
		display: block;
		font-size: 17px;
		color: rgba(0, 0, 0, 0.3);;
    }
    .search-bar{
    	display: none;
    }
    .main-sidebar{
	width: 35%;
	height: auto;
	float:right;
	padding:  13px;
	}
	.ads-images{
	width: auto;
	height: auto;
	}
}

.newsletter{
	  border: 1px solid grey;
	  height: 170px;
	  border-radius: 15px;
	  margin: 35px 0;
	  text-align: center;	  
	  background: rgba(255,255,255,.55);
	  padding: 15px;
	  font-family: $fontfamily;
	  text-align: justify;

	  @media screen and (max-width: 1020px){
		  width: 50%;
		  margin-left: 200px;
		}
	  @media screen and (min-width: 1020px){
		  width: 90%;
		  margin: 1.5em 0 1.5em -1.25em;
		}

	  header{
	  	color: $color-lightblue;
	  	font-weight: bold;
	    font-size: 20px;
	    height: 55px;
	  }
	  p{
	  	line-height: 1.5;
	  }
	  .ebook-images{
	  	float: left;
	  	width:25%;
	  	height: 150px;
	  }
}

#menu-contents{	
	@media screen and (max-width: 800px){
		width: 90%;
		height: 450px;
		line-height: 3;
		font-size: 18px;

		// -webkit-column-count: 2;
		// -webkit-column-gap: 40px;
		// -webkit-column-rule-width: 2px;

		display: table;
		border-collapse: collapse;
		margin-left: 80px;

		ul{
			.menu-scroll-link{
				width: 100%;
				color: $color-blue;
				border-bottom: 1px dotted $color-grey;

				&:hover{
					background-color: $color-yellow;
					cursor: pointer;
				}
			}
			.menu-scroll-heading{
					font-weight: bold;
					color: $color-black;

					&:hover{
						background-color: none;
					}
		    	}
			}
		}
	@media screen and (min-width: 800px){
		display: none;
	}
}
#search-contents{	
	text-align: center;

	@media screen and (max-width: 800px){
		input{
		width: 75%;
  		height: 35px;
  		border-radius: 10px 0 0 10px;
  		margin-top: 35px;
		}
		button{
		width: 17%;
        height: 40px;
  		background-color: $color-orange;
	    border-radius: 0 10px 10px 0;
	    margin-left: -25px;
		}
	}
	@media screen and (min-width: 800px){
		display: none;
	}
}
.scrollup{
	@media screen and (max-width: 800px){
		margin-top: 25px;
		text-decoration: underline;
		font-size: 15px;
		cursor: pointer;
	}
}



